.Projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    background-image: url("./images/Fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 100px;


    .projetsContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 20px;

        h2 {
            margin-top: 10px;
        }

        p {
            text-align: justify;
        }

        .mainImages {
            display: flex;
            justify-content: center;
            gap: 50px;

            .image-small {
                width: 100px;
            }

            .image-large {
                width: 200px;
            }
        }

        .largeBox {
            width: calc(20px + 90vmin);
            height: calc(20px + 50vmin);
            padding: calc(1px + 1vmin);
            margin: calc(1px + 2vmin);
            box-shadow: 2px 0px 5px rgba(0,0,0,0.7);
            background: rgba(0,0,0,0.5);
            overflow: hidden;
            border-radius: 10px;
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }
        }
    
        .smallBox {
            width: calc(20px + 40vmin);
            height: calc(20px + 50vmin);
            margin: calc(1px + 2vmin);
            padding: calc(1px + 1vmin);
            box-shadow: 2px 0px 5px rgba(0,0,0,0.7);
            background: rgba(0,0,0,0.4);
            overflow: hidden;
            border-radius: 10px;
            transition: all .2s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }
        }

        .headerBox {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 5px 10px 0px 10px;

            span {
                display: flex;
                justify-content: center;
                border-radius: 50px;
                align-items: center;

                p {
                    margin: 0;
                }
            }

            .spanDate {
                background: rgba(2, 112, 180, 0.4);
                padding: 0px 15px 0px 15px;
            }

            .spanPerso {
                background: rgba(235, 56, 16, 0.4);
                padding: 5px 15px 5px 15px;
            }

            .spanAca {
                background: rgba(16, 177, 62, 0.4);
                padding: 5px 15px 5px 15px;
            }
        }
          
    }
}