.Contact {

    .formulaire {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        img {
            width: 45%;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 45%;
            gap: 10px;
    
            input {
                padding: 10px;
            }
    
            textarea {
                padding: 10px;
                height: 200px;
                resize: none;
            }
    
            #envoyer {
                width: 400px;
                background-color: dodgerblue;
                border: none;
                border-radius: 5px;
                color: white;
                opacity: 0.6;
                transition: 0.3s; 
            }
            
            #envoyer:hover {
                opacity: 1;
            }
        }
    }
}