.HeaderAccueil {
    //background-color: rgba(3, 138, 255, .1);

    img {
        width: 350px;
        border-radius: 20px;
    }

    .presentationParent {
        background-image: url("./images/Fond.png");
        background-repeat: no-repeat;
        background-size: cover;    
        height: 100vh;
        //width: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .presentation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        h1 {
            font-size: 60px;
            margin-bottom: 0px;
        }
    
        h2 {
            font-size: 30px;
        }
    
        p {
            width: 700px;
            margin-top: 0px;
        }

        .contact {
            img {
                width: 30px;
                margin-right: 20px;
            }
        }
    }

    
}